.DS_Store
.gitattributes
.vscode/**
build/core/**
build/preproc/**
build/sketch/**
build/libraries/**
build/ld_h/**
build/arduino.ar
build/build.options.json
build/MQTTDevice4.ino.elf
build/MQTTDevice4.ino.map
build/includes.cache
build/local.eagle.app.v6.common.ld
data/config.txt
data/certs.ar
tools/MQTTDevice4.ino.bin
tools/MQTTDevice4.spiffs.bin
tools/esptool.exe
tools/Flashen.cmd
tools/buildFirm.cmd
998_InfluxDB.ino
999_TCP_Server.ino
