.DS_Store
.vscode
.vscode/
*.cmd
*.exe
*.psd
*.ino
*.old
core
preproc
sketch
libraries
ld_h
arduino.ar
build.options.json
MQTTDevice4.ino.elf
MQTTDevice4.ino.map
includes.cache
local.eagle.flash.ld
local.eagle.app.v6.common.ld
data/config.txt
data/graph.html
data/exporting.js
data/highcharts.js
tools/MQTTDevice4.ino.bin
tools/MQTTDevice4.spiffs.bin
tools/esptool.exe
tools/Flashen.cmd
tools/buildFirm.cmd
test/
web/
Display/
Backup/
992_autoPID.ino
993_Maischeplan.ino
994_CBPi4.h
4_HLT.ino
board_settings.jpg
InnuAPID.cpp
InnuAPID.h
MQTTDevice.h