# Auto detect text files and perform LF normalization
* text=auto
*.ino linguist-language=cpp
*.cpp linguist-language=cpp
*.hpp linguist-language=cpp
*.h linguist-language=cpp
*.js linguist-detectable=false
*.css linguist-detectable=false
*.gcode = linguist-detectable=false
