.DS_Store
.vscode
.vscode/
*.cmd
*.exe
.gitignore
core
preproc
sketch
libraries
ld_h
arduino.ar
build.options.json
MQTTDevice4.ino.elf
MQTTDevice4.ino.map
includes.cache
local.eagle.flash.ld
local.eagle.app.v6.common.ld
data/config.txt
data/certs.ar
tools/MQTTDevice4.ino.bin
tools/MQTTDevice4.spiffs.bin
tools/esptool.exe
tools/Flashen.cmd
tools/buildFirm.cmd
