@font-face {
  font-family: 'mqttfont';
  src:  url('./mqttfont.eot?v7u1py');
    src:  url('./mqttfont.eot?v7u1py#iefix') format('embedded-opentype'),
    url('./mqttfont.ttf?v7u1py') format('truetype');
      
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mqttfont' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-loop:before {
  content: "\e900";
}
.icon-loop-button:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\f067";
}
.icon-power-button:before {
  content: "\f011";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-power-on:before {
  content: "\f011";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-download:before {
  content: "\f019";
}
.icon-download2:before {
  content: "\f019";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-fire-red:before {
  content: "\f06d";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-eraser2:before {
  content: "\f12d";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.input-group>.input-group-append {
  width: 60%;
}
.icon-chevron-up {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-chevron-down {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-pencil {
  color: var(--success);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-trash-o {
 color: var(--danger);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-download {
  /*margin-right: 7.5%;*/
  font-size: 1.5em;
  /*background-size: 120%;*/
}
.icon-sliders {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
  background-size: 120%;
}
.icon-clock-o {
  color: var(--primary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-bullseye {
  color: var(--primary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-thermometer-three-quarters {
  color: var(--success);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-fire-red {
  color: var(--danger);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-fire {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-power-off {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-power-on {
  color: var(--success);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-cog {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-cogs {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-loop {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
  background-size: 120%;
}
.mash-button-align {
  margin-right: 30px;
  width: 140px;
}
.mash-button-style {
  text-align: center;
  border-style: none;
  width: 100%;
}
.label-30 {
  width: 30%;
}
.myalign
{
  float:right;
}
.mash-button-align-left {
  /*margin-right: 30px;*/
  width: 140px;
}
.mash-button-style-left {
  /*margin-left: 100px;*/
  text-align: center;
  /*border-style: none;*/
  width: 100%;
}
.input[readonly]{
  /*background-color:transparent;*/
  /*border: 0;*/
  /*font-size: 1em;*/
  /*border-color: #28a745;*/
  /*box-shadow: none;*/
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  overflow: hidden;
  opacity: 0;
}