@font-face {
  font-family: 'mqttfont';
  src:  url('./mqttfont.eot?v7u1py');
    src:  url('./mqttfont.eot?v7u1py#iefix') format('embedded-opentype'),
    url('./mqttfont.ttf?v7u1py') format('truetype');
      
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mqttfont' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-loop:before {
  content: "\e900";
}
.icon-loop2:before {
  content: "\e900";
}
.icon-loop-button:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\f067";
}
.icon-power-button:before {
  content: "\f011";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-power-on:before {
  content: "\f011";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-download:before {
  content: "\f019";
}
.icon-download2:before {
  content: "\f019";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-fire-red:before {
  content: "\f06d";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-eraser2:before {
  content: "\f12d";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.input-group>.input-group-append {
  width: 60%;
}
.icon-chevron-up {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-chevron-down {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-pencil {
  color: var(--success);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-trash-o {
 color: var(--danger);
  margin-right: 30px;
  font-size: 1.5em;
}
.icon-download {
  /*margin-right: 7.5%;*/
  font-size: 1.5em;
  /*background-size: 120%;*/
}
.icon-sliders {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
  background-size: 120%;
}
.icon-clock-o {
  color: var(--primary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-bullseye {
  color: var(--primary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-thermometer-three-quarters {
  color: var(--success);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-fire-red {
  color: var(--danger);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-fire {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-power-off {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-power-on {
  color: var(--success);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-cog {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-cogs {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.7em;
  background-size: 120%;
}
.icon-loop {
  color: var(--secondary);
  margin-right: 30px;
  font-size: 1.5em;
  background-size: 120%;
}
.icon-loop2 {
  color: var(--secondary);
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.1em;
  background-size: 100%;
}
.mash-button-align {
  margin-right: 30px;
  width: 140px;
}
.mash-button-style {
  text-align: center;
  border-style: none;
  width: 80%;
}
.mash-button-style-chart {
  text-align: center;
  width: 80px;
}
.label-30 {
  width: 30%;
}
.myalign-right
{
  float:right;
}
.myalign-left
{
  float:left;
}
.input[readonly]{
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  overflow: hidden;
  opacity: 0;
}
.chart-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.toast-container {
  position: fixed;
  z-index: 1055;
  margin: 5px;
}

.top-right {
  top: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}

.bottom-right {
  right: 0;
  bottom: 0;
}

.bottom-left {
  left: 0;
  bottom: 0;
}

.bottom-center {
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}

.toast-container > .toast {
  min-width: 300px;
  /*min-height: 200px;*/
  /*background: transparent;*/
  background: white;
  border: none;
}

.toast-container > .toast > .toast-header {
  border: none;
}

.toast-container > .toast > .toast-header strong {
  padding-right: 20px;
}

.toast-container > .toast > .toast-body {
  background: white;
}
